h3 {
  border-bottom:1px solid #bbb;
  font-size: 2em;
  padding-bottom:5px;
}

.wp-ceceppaml input:focus {
  background: #F0FF80;
}

.ceceppa-ml-flags {
  /* max-width: 165px; */
}

.cml-donate h3, h3.hndle  {
  cursor: default !important;
  padding: 5px;
  font-size: 1.3em;
}

.link-category {
}

.lang-separator {
  font-family:arial; 
  color:#FF0000;
  font-size:18px;
  font-weight:bold;
  background:#0000FF;
}
.ceceppa-form ul li:last-child {
  padding: 0;
}
.ceceppa-form label {
  word-wrap:normal;	
}
.ceceppa-form-options td:first-child {
  vertical-align: middle;
}
.cml-box-translations a {
  display: block;
  color: #000;
  text-decoration: none;
}
.cml-box-translations li span.cml_add_text {
  display: inline-block;
  overflow: hidden;
  padding-left: 5px;
  height: 33px;
  max-height: 33px;
  width: 190px; max-width: 190px;
  position: relative;
  top: -5px;
}

.cml-box-translations li img.add {
  padding-top: 15px;
}

.cml-content {
  display: inline-block;
  width: 600px;
}

div.block-left {
  display: table-cell;
  width: 400px;
}

div.block-right {
  display: table-cell;
}

table.mo-table {
  
}

  table.mo-table th:first-child {
    width: 85%;
  }
  
  table.mo-table tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  table.wp-ceceppaml td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
  }

.ceceppaml .meta-box-sortables {
  width: 95%;
}

.ceceppaml .handlediv {
  display: none;
}

.cml_list {
  list-style: square;
  padding-left: 30px;
}

.align-bottom {
  vertical-align: bottom;
}

.cml-filter-label {
  display: block;
  line-height: 28px;
  float: left;
}

.cml-filter-current {
  border-bottom:2px solid #BF0000;
  padding: 2px;
  width: 10px;
}
  .cml-filter-current img {
    padding: 0 !important;
    margin: 0 5px 0!important;
  }
  
dl.site-title dd > span {
  display: inline-block;
  width: 100px;
}

h2 span.textdomain {
  font-size: 0.5em ;
  float:right;
}

.ceceppaml-theme-translations th:nth-child(n+2) {
  width: 20px;
}

h2 .textdomain img {
  padding-right: 5px;
}

h2 .textdomain .light {
  color: #e7e7e7;
}

img.not-available {
  opacity: 0.4;
}

.ceceppaml-theme-translations th.flag {
  text-align: center !important;
}

.ceceppaml-trans-fields {
  display: block;
  padding: 5px;
}
.ceceppaml-trans-fields img,
.ceceppaml-trans-fields textarea,
.ceceppaml-trans-fields input {
  display: inline-block;
  vertical-align: middle;
}

.ceceppaml-trans-fields input[type="text"],
.ceceppaml-trans-fields textarea {
  width: 95%;
  margin-right: 10px;
}

.ceceppaml-theme-translations tr.row-domain:hover {
  cursor: pointer;
  background: #FFFFE5;
}
.ceceppaml-theme-translations tr.row-hidden {
  display: none;
}

.ceceppaml-theme-translations tr.row-open td:first-child {
  border-bottom: 0 !important;
}

.cml-hidden {
 width: 0px;
 height: 0px;
 overflow: hidden;
}