/* Show only flags */
ul.cml_widget_flag {
  list-style: none;
}
.cml_widget_flag li {
  float: left;
  padding-left: 8px;
  padding-top:4px;
  list-style: none;
}
ul.cml_widget_flag li img.tiny, li img.tiny {
  max-width: 16px;
}
ul.cml_widget_flag li img.small, li img.small {
  max-width: 32px;
}
ul.cml_widget_flag li {
  margin: 0;
}

/* Show only text */
ul.cml_widget_text {
  list-style: none;
}
ul.cml_widget_text li a {
  text-decoration: none;
}
ul.cml_widget_text li a:hover {
  text-decoration: underline;
}

/* Show both */
ul.cml_widget_both {
  list-style: none;
}
ul.cml_widget_both li img {
  padding-right: 5px;
}
ul.cml_widget_both li a {
  text-decoration: none;
}
ul.cml_widget_both li a:hover {
  text-decoration: underline;
}
